<h1>Carrito de Compras</h1>
<ul>
    {% for producto_id, cantidad in cart.items() %}
        <li>Producto {{ producto_id }} ({{ cantidad }} unidades)
            <form method="post" action="/agregar_al_carrito/{{ producto_id }}">
                <button type="submit">Añadir otro</button>
            </form>
            <form method="post" action="/eliminar_del_carrito/{{ producto_id }}">
                <button type="submit">Eliminar uno</button>
            </form>
        </li>
    {% endfor %}
</ul>
